<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/icon.png" type="image/png">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="static\css\home.css">

</head>
<body>
    <div class="subcontainer">
        <h1>Privacy Policy</h1>
        
        <h2>Introduction</h2>
        <p>Within Nod-z, we are committed to protecting your privacy. This Privacy Policy explains how your personal information is collected, used, and disclosed by Nod-z when you use our website and services.</p>
        
        <h2>What Information Do We Collect?</h2>
        <p>We collect information you provide directly to us, such as:</p>
        <ul>
            <li>Your name</li>
            <li>Email address</li>
            <li>Any other information you choose to provide</li>
        </ul>
        <p>We may also collect information automatically when you use our website and services, such as:</p>
        <ul>
            <li>Your IP address</li>
            <li>Browser type</li>
            <li>Pages you viewed</li>
            <li>Date and time of your visit</li>
        </ul>
        
        <h2>How Do We Use Your Information?</h2>
        <p>We may use the information we collect for various purposes, including to:</p>
        <ul>
            <li>Provide and maintain our website and services</li>
            <li>Communicate with you about your account</li>
            <li>Send you marketing and promotional materials</li>
            <li>Analyze how our website and services are used</li>
            <li>Comply with legal obligations</li>
        </ul>
        
        <h2>Data Storage and Transfer</h2>
        <p>Your information, including personal data, and data generated through mindmaps, such as text, images, and files, may be transferred to and stored on servers located in France. By using our website and services, you consent to the transfer of your information to France and its storage and processing there.</p>
      
        <h2>Your Rights</h2>
        <p>You have certain rights regarding your personal information, including the right to:</p>
        <ul>
            <li>Access, update, or delete your personal information</li>
            <li>Object to the processing of your personal information</li>
            <li>Withdraw your consent at any time</li>
        </ul>
        
        <h2>Changes to This Privacy Policy</h2>
        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
        
        <h2>Contact Us</h2>
        <p>If you have any questions about our Privacy Policy, please contact us at <a href="mailto:privacy@nodz.com">privacy@nodz.com</a>.</p>
        
        <a href="/" class="btn">Back to Homepage</a>
    </div>
</body>
</html>
