<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/icon.png" type="image/png">
    <title>Terms of Service</title>
    <link rel="stylesheet" href="static\css\home.css">
</head>
<body>

    <div class="subcontainer">
        <h1>Terms of Service</h1>
        
        <h2>1. Introduction</h2>
        <p>These terms and conditions govern your use of Nod-z and constitute a legally binding agreement between you and us.</p>
        
        <h2>2. Use License</h2>
        <p>By accessing Nod-z, you agree to use it solely for its intended purpose of creating and managing mind maps. You must not misuse, reproduce, or distribute any content available on Nod-z without permission.</p>
        
        <h2>3. User Conduct</h2>
        <p>You are solely responsible for your conduct while using Nod-z. You must not engage in any unlawful, offensive, or harmful activities that violate our terms or infringe upon the rights of others.</p>
        
        <h2>4. Intellectual Property</h2>
        <p>All content and materials provided on Nod-z, including text, images, logos, and trademarks, are the property of Nod-z and protected by intellectual property laws. You may not use, modify, or distribute our intellectual property without prior consent.</p>
        
        <h2>5. Privacy Policy</h2>
        <p>Your privacy is important to us. Please review our <a href="privacy">Privacy Policy</a> to understand how we collect, use, and disclose your personal information.</p>
        
        <h2>6. Limitation of Liability</h2>
        <p>We do not guarantee the accuracy, reliability, or availability of Nod-z and shall not be liable for any direct, indirect, or consequential damages arising from your use of Nod-z.</p>
        
        <h2>7. Governing Law</h2>
        <p>These terms and conditions shall be governed by and construed in accordance with the laws of France. Any disputes arising from or related to these terms shall be subject to the exclusive jurisdiction of the courts in France.</p>
        
        <h2>Contact Us</h2>
        <p>If you have any questions or concerns about these terms of service, please <a href="contact">contact us</a>.</p>
        
        <a href="/" class="btn">Back to Homepage</a>
    </div>

</body>
</html>
