<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/icon.png" type="image/png">
    <title>Thank You!</title>
    <link rel="stylesheet" href="static\css\home.css">
</head>
<body>
    
    <div class="container">
        <h1>Thank You!</h1>
        <p>Your message has been successfully sent.</p>
        <a href="/" class="btn">Back to Homepage</a>
        <div>
            <img src="/static/img/logo.svg" alt="Nod-z Flag Image" style="width: 160px; height: auto; align-items: end; position: absolute; left: 80%; top:10%">
        </div>
        
    </div>
</body>
</html>
